* {
    box-sizing: border-box;
    padding: 150;
    margin: 150;
  }

  html,
  body {
    height: 100vh;
    background-color: rgb(240, 251, 255);
  }

  video, 
    iframe{
      border: 5px solid teal;
      width: 300px;
      margin: auto;
      text-align: center;
      position: relative;
    }
    .responsive-video {
      padding-top:40%;
      position:relative;
      height:0;
      
  }
   .responsive-video iframe, .responsive-video object, .responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
      
  }
    
    .accordion {
      background-color: rgb(30, 156, 156);
      color: rgb(235, 236, 236);
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
    }
    
    .active, .accordion:hover {
      background-color: rgb(11, 108, 126);
    }

    * {box-sizing: border-box}


  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}



.signupbtn:hover {
  background-color: rgb(250, 189, 34);
  color: rgb(44, 73, 233);
}
.signupbtn {
  float: center;
  width: 50%;
  cursor: pointer;
  display: inline-block;
  background-color: gold;
  border: none;
  padding: 5px;
  transition: all 0.5s;
  border-radius: 15px;
  box-shadow: 0 8px rgb(231, 176, 25);
  outline: none;
}
.signupbtn:active {
  background-color: rgb(248, 195, 62);
  box-shadow: 0 5px rgb(211, 155, 3);
  transform: translateY(4px);
}

.container {
  padding: 16px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
.center {
  text-align: center;
} 
ul.page-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color:rgb(71, 182, 185);
}
.page-links li {
  float: left;
}
.page-links a {
  display: block;
  background-color: rgb(2, 160, 160);
  color: white;
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
}
.page-links a:hover {
background-color: rgb(54, 124, 124);
color: white;
}
.page-links .active {
  background-color:rgb(192, 229, 253);
  color: blueviolet;
}
.navbar-brand {
  text-align: right;
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
  color: teal;
  text-align: right;
  font-style: oblique;
  font-weight: bold;
}

.footer-flex {
  display:flex;
  justify-content: space-between;
  background-color: teal;
  color: white;
  padding: 10px;
  
  }
  .footer-item-flex {
  flex: 0 1 auto;
  
  }

  .fade
  {
          opacity:1;
  }
  .fade:hover
  {
          opacity:0.5;
          transition:all 0.4s ease;
  }
  
  .signupnav:hover {

      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
}
.column {
  -webkit-column-count: 3; 
  -moz-column-count: 3; 
  column-count: 3;
  column-rule-style: solid;
  column-rule-color: blue;
  display: inline;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
  .div1 {

    box-sizing: border-box;
    text-align: center;
        border: 1px solid violet;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
        margin-left: 20px;
        text-decoration: none;

  }
  .div2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
padding: 10px;
box-sizing: border-box;
text-align: justify;
    border: 1px solid teal;
letter-spacing: 1.5px;
text-decoration: none;
  }
  .div3 {
padding: 10px;
    box-sizing: border-box;
    border: 1px solid cyan;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    text-indent: 50px;
  }
  .color1:hover
{
        background:#d065e6;
        transition:all 0.4s ease;
        color: white;
        text-decoration: none
}
.color2:hover
{
        background:#155e99;
        color: white;
        transition:all 0.4s ease;
        text-decoration: none;
}

.color3:hover
{
        background:#1ab1b1;
        color: white;
        transition:all 0.4s ease;
}
a:link{
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover a:active{
  text-decoration: none;
}
a { color: inherit; } 

a:active {
  text-decoration: none;
}

.btn {
  background-color: inherit;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  font-family:'Courier New', Courier, monospace;
}


