* {
    box-sizing: border-box;
    padding: 150;
    margin: 150;
  }

  html,
  body {
    height: 100vh;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  video,
    iframe {
      border: 5px solid teal;
    }