* {
    box-sizing: border-box;
    padding: 150;
    margin: 150;
  }

  html,
  body {
    height: 100vh;
    background-color: rgb(240, 251, 255);
  }
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  video,
    iframe {
      border: 5px solid teal;
    }
    
    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
    }
    
    .active, .accordion:hover {
      background-color: #ccc;
    }

    * {box-sizing: border-box}


  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}



button:hover {
  opacity:1;
}


.cancelbtn {
  padding: 14px 20px;
  background-color: blue;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
.center {
  text-align: center;
} 
ul.page-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color:rgb(71, 182, 185);
}
.page-links li {
  float: left;
}
.page-links a {
  display: block;
  background-color: rgb(2, 160, 160);
  color: white;
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
}
.page-links a:hover {
background-color: rgb(54, 124, 124);
color: white;
}
.page-links .active {
  background-color:rgb(192, 229, 253);
  color: blueviolet;
}
.navbar-brand {
  text-align: right;
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
  color: teal;
  text-align: right;
  font-style: oblique;
  font-weight: bold;
}

.footer-flex {
  display:flex;
  justify-content: space-between;
  background-color: teal;
  color: white;
  padding: 10px;
  
  }
  .footer-item-flex {
  flex: 0 1 auto;
  
  }

  .fade
  {
          opacity:1;
  }
  .fade:hover
  {
          opacity:0.5;
          transition:all 0.4s ease;
  }
  
  .signupnav:hover {

      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
}
.column {
  -webkit-column-count: 3; 
  -moz-column-count: 3; 
  column-count: 3;
  column-rule-style: solid;
  column-rule-color: blue;
  display: inline;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
  .div1 {

box-sizing: border-box;
text-align: center;
    border: 1px solid violet;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .div2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
padding: 10px;
box-sizing: border-box;
text-align: justify;
    border: 1px solid teal;
letter-spacing: 1.5px;
  }
  .div3 {
padding: 10px;
    box-sizing: border-box;
    border: 1px solid cyan;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-indent: 50px;
  }
  .color1:hover
{
        background:#d065e6;
        transition:all 0.4s ease;
        color: white;
}
.color2:hover
{
        background:#155e99;
        color: white;
        transition:all 0.4s ease;
}
.color3:hover
{
        background:#1ab1b1;
        color: white;
        transition:all 0.4s ease;
}

